body,
html {
    margin: 0;
    padding: 0;
}
#abhi{
  position: sticky;
  background-color: rgb(139, 0, 0);
}

.logo {
    flex: 1;
    font-size: 40px;
    padding: 20px;
    margin-left: 50px;
    font-family: Satisfy;
  }

.nav-bar {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 90px;
    background-color: #fff;
    box-shadow: 3px 3px 10px lightslategray;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

/* .logo, .menu{
    display: block;
    align-content: space-around;
    background-color: #fff;
    align-items: right;
    box-shadow: tomato;
    text-align: left;
  } */

/* .logo {
    flex: 1;
    font-size: 40px;
    padding: 20px;
    margin-left: 50px;
    font-family: Satisfy;
  } */

ul.menu {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
}

.menu li {
    flex: 1;
    list-style-type: none;
    font-size: 16px;
    font-family: "Barlow Condensed";
    text-align: center;
}

.banner {
   
    background-image: url("Bholenath.webp");
    background-size: cover;
    background-color: orangered;
    background-repeat: no-repeat;
    background-position: center;
    /*overflow: hidden;*/
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    color: black;
    background-color: #fff;
}

.services {
    /* background-color: aqua;
    color: beige;
    align-items: flex-start;
    align-content: space-between;
    align-content: flex-start; */
    background-color: aqua;
    display: block;
    flex-flow: row;
    align-items: center;
    justify-content: center;

}

.service-item img {
    width: 60px;
    height: 60px;
    flex: 1;
  }

  .services {
    display: block;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }
  
  .service-item {
    /* flex: 1;
    padding: 50px 10px;
    border: lightcyan solid 1px;
    
    margin: 180px 50px;
    transition: all 1s;
    display: flex; */
    text-align: center;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }


  .places-text {
    /* height: fit-content;
    width: fit-content; */
    text-align: center;
    margin-bottom: 50px;
    /* background-color: orangered; */
  }
  
  .places-text small {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffc342;
    font-size: 15px;
    font-weight: bolder;
  }
  
  .places-text h2 {
    font-family: Barlow Condensed;
    font-size: 55px;
    color: #191d34;
    letter-spacing: 1px;
  }
  
  .cards {
    display: grid;
    grid-gap: 30px;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: orangered;
  }

  /* .about{
    background-color: chartreuse;
    color: #fff;
    height: 50vh;
  }

  .bout-text{
    align-items: center;
    align-content: right;
    text-align: right;
  } */



  .footer {
    background-image: url("https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293781/pine-tree_mq2sgp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 670px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }